<!DOCTYPE html>
<html lang="es">
	<%- include("../template/head") %>

	<body>
		<div class="container">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Link de recuperación</h1>
								</div>
								<p>
									Se ha enviado un link de recuperación al correo "<%= email %>", para poder
									restablecer tu contraseña.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<%- include("../template/scripts") %>
</html>
