<!DOCTYPE html>
<html lang="es">
	<%- include("../template/head") %>

	<body>
		<div class="container">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Crea una cuenta!</h1>
								</div>
								<form class="user" action="<%= RoutesLinks.client.client_register %>" method="post">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input
												type="text"
												class="form-control form-control-user"
												id="name"
												name="name"
												placeholder="Nombre"
												required
											/>
										</div>
										<div class="col-sm-6">
											<input
												type="text"
												class="form-control form-control-user"
												id="lastName"
												name="lastName"
												placeholder="Apellido"required
											/>
										</div>
									</div>

									<div class="form-group row mt-3">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input
												type="date"
												class="form-control form-control-user"
												id="birthday"
												name="birthday"
												placeholder="Fecha de nacimiento"required
											/>
										</div>
										<div class="col-sm-6">
											<input
												type="text"
												class="form-control form-control-user"
												id="phoneNumber"
												name="phoneNumber"
												placeholder="Número de teléfono"required
											/>
										</div>
									</div>

									<div class="form-group mt-3">
										<input
											type="text"
											class="form-control form-control-user"
											id="perfilImage"
											name="perfilImage"
											placeholder="Url de foto de perfil"
										/>
									</div>

									<div class="form-group mt-3">
										<input
											type="email"
											class="form-control form-control-user"
											id="email"
											name="email"
											placeholder="Correo electrónico"required
										/>
									</div>
									<div class="form-group row mt-3">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input
												type="password"
												class="form-control form-control-user"
												id="password"
												name="password"
												placeholder="Contraseña"required
											/>
										</div>
										<div class="col-sm-6">
											<input
												type="password"
												class="form-control form-control-user"
												id="repeatPassword"
												name="repeatPassword"
												placeholder="Repetir contraseña"required
											/>
										</div>
									</div>

									<div class="mt-3">
										<div
											class="g-recaptcha"
											data-sitekey="6Ld2OkgpAAAAABSezgK0y82C9620yMncoaqA6sw2"
										></div>
									</div>

									<button
										type="submit"
										class="btn btn-primary btn-user btn-block w-100 mt-3"
									>
										Crear una cuenta
									</button>
								</form>
								<hr />
								<!-- <div class="text-center">
									<a class="small" href="forgot-password.html"
										>Forgot Password?</a
									>
								</div> -->
								<div class="text-center">
									<a class="small" href="<%= RoutesLinks.client.client_login %>"
										>¿Ya tienes una cuenta? inicia sesión</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<%- include("../template/scripts") %>
</html>
