
.MaxWidthLandingImage{
	height: 250px;
}

.MaxWidthLandingModalImage{
	height: 400px;
}

.loginStyle__Container {
	width: 100vw;
	height: 100vh;
}

.loginStyle {
	max-width: 500px;
}

.linkToModule {
	background: #6ff3;
}
.linkToModule:hover {
	background: #6bb3;
}

.product__card {
	/* max-width: fit-content; */
	min-width: 250px;
	/* max-width: 500px; */
}

.product_image_client {
	overflow: hidden;
	/* border: 1px solid black; */
	width: 100%;
	height: 120px;
}

.product_image_admin {
	overflow: hidden;
	/* border: 1px solid black; */
	width: 100%;
	height: 120px;
}


.cardImagesProduct{
	width: 250px;
}
