<% categories.forEach(element => { %>
<a href="<%= RoutesLinks.dashboard.categoryForm(element.id) %>"
	><%= element.name %></a
>
<hr />
<% }) %>

<a href="<%=  RoutesLinks.dashboard.categoryForm() %>">crear nueva</a>
