<% if (data) { %>
<form action="<%= RoutesLinks.dashboard.categoryFormEdit(data.id) %>" method="post">
	<input
		type="text"
		name="name"
		value="<%= data.name %>"
		autofocus
		autocomplete="none"
	/>
</form>
<% } else { %>

<form action="<%= RoutesLinks.dashboard.categoryFormCreate %>" method="post">
	<input type="text" name="name" value="" autofocus autocomplete="none" />
</form>

<% } %>
