<% categories.forEach(element => { %>
<a href="<%= RoutesLinks.dashboard.productForm(element.id) %>"><%= element.name %></a>
<hr />
<% }) %>

<a href="<%= RoutesLinks.dashboard.productForm() %>">crear nuevo producto</a>
