<!DOCTYPE html>
<html lang="es">
	<%- include("template/head") %>

	<body>
		<main class="container">
			<%- include("components/headerClient", {RoutesLinks}) %>

			<h2 class="text-center">Equipate</h2>

	

			<div class="d-flex flex-wrap justify-content-evenly">
				<% products.forEach(element => { %> <% if (element.images[0]) { %>

				<!--  -->

				<%- include("components/productItemClient", {element})%>
				<!--  -->
				<% } %>
				<!--  -->
				<% }) %>
			</div>
		</main>
	</body>

	<%- include("template/scripts") %>
</html>
