<!DOCTYPE html>
<html>
	<%- include("template/head") %>

	<body>
		<a href="<%= RoutesLinks.dashboard.index %>"> dashboard</a>

		<br />
		<h2>productos</h2>
		<hr />
		<% products.forEach(element => { %>

		<div><%= element.name %></div>
		<br />

		<% }) %>
	</body>

	<%- include("template/scripts") %>
</html>
