<!DOCTYPE html>
<html>
	<%- include("template/head") %>

	<body>
		<% products.forEach(element => { %>

		<div><%= element.name %></div>
		<hr />
		
		<% }) %>

		<div class="container">
			<a href="/category"> categorias</a>
			<a href="/product"> productos</a>
		</div>
	</body>

	<%- include("template/scripts") %>
</html>
