<!DOCTYPE html>
<html>
	<%- include("template/head") %>

	<body>
		<h1>Odalys Padrino</h1>
		<h2>CI: 16.804.490</h2>
		<h3>Programación 3 sección 1</h3>
	</body>

	<%- include("template/scripts") %>
</html>
