<!DOCTYPE html>
<html lang="es">
	<%- include("../template/head") %>

	<body>
		<main
			class="d-flex justify-content-center align-items-center loginStyle__Container"
		>
			<div class="d-flex flex-column shadow-lg px-5 py-4 rounded loginStyle">
				<h2 class="text-center mb-3">login</h2>
				<form action="<%= RoutesLinks.admin.login %>" method="post">
					<!-- Email input -->
					<div class="form-outline mb-4">
						<label class="form-label" for="form2Example1"
							>Correo electronico</label
						>
						<input
							type="email"
							name="email"
							id="form2Example1"
							class="form-control"
							required
						/>
					</div>

					<!-- Password input -->
					<div class="form-outline mb-4">
						<label class="form-label" for="form2Example2">Contraseña</label>
						<input
							type="password"
							name="password"
							id="form2Example2"
							class="form-control"
							required
						/>
					</div>

					<div class="d-flex justify-content-evenly">
						<button class="btn btn-primary btn-block mb-4 w-100">
							Sign in
						</button>
					</div>
				</form>
			</div>
		</main>
	</body>

	<%- include("../template/scripts") %>
</html>
