<a
	class="text-decoration-none text-black py-2 px-3 flex-grow-1 shadow rounded m-2"
	href="<%= RoutesLinks.dashboard.categoryForm(element.id) %>"
>
	<div class="row">
		<div class="col-7">
			<div class="d-flex flex-column h-100">
				<div><%= element.name %></div>
			</div>
		</div>
	</div>
</a>
