<a
	class="text-decoration-none text-black py-2 px-3 flex-grow-1 shadow rounded product__card m-2"
	href="#"
>
	<div class="row">
		<div class="col-sm-12 col-md-3">
			<div class="rounded shadow-sm product_image_admin">
				<% if (element.perfilImage) { %>
				<img
					class="w-100 h-100 object-fit-contain"
					src="<%= element.perfilImage %>"
					alt=""
				/>
				<% } else { %>
				<img class="w-100 h-100 object-fit-contain" src="/noimage.jpg" alt="" />

				<% } %>
			</div>
		</div>
		<div class="col-sm-12 col-md-9">
			<div class="d-flex flex-column justify-content-center h-100">
				<div><b>Nombre:</b> <%= element.name %> <%= element.lastName %></div>
				<div class=""><b>Correo:</b> <%= element.email %></div>
			</div>
		</div>
	</div>
</a>
